
<div class="row">

  <div class="col-md-4">
          <!--Card-->
   <mdb-card cascade="true" narrower="true" class="mdb-card">
  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="./assets/img/ratp.jpg" class="mdb-card-img" ></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->
  
    <mdb-card-body cascade="true" class="text-center">

      <!--Text-->
  
      <mdb-card-text>
          Le trafic est interrompu tous les lundis et mardis soirs, du 13 janvier au 10 mars inclus, de 22h15 à fin de service au niveau du métro 14.
      </mdb-card-text>
  
      <a mdbBtn color="unique" class="waves-light " mdbWavesEffect  href="https://www.ratp.fr/trafic-metro" class="stretched-link" target="_blank">LET'S GO !</a>
  
    </mdb-card-body>
    <!--/.Card content-->
  
  </mdb-card>
  <!--/.Card-->
  </div>
  
  <div class="col-md-4">
          <!--Card-->
   <mdb-card cascade="true" narrower="true" class="mdb-card">
  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="./assets/img/veliib.jpg" class="mdb-card-img" ></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->
  
    <mdb-card-body cascade="true" class="text-center">
      <!--Text-->
      <mdb-card-text>
        Prendre un Vélib', le rendre, utiliser les nouvelles fonctionnalités... Tout ce que vous devez savoir sur les nouveaux Vélib' en quelques minutes
      </mdb-card-text>
  
      <a mdbBtn color="unique" class="waves-light " mdbWavesEffect  href="https://www.velib-metropole.fr/" class="stretched-link" target="_blank">LET'S GO !</a>
  
    </mdb-card-body>
    <!--/.Card content-->
  
  </mdb-card>
  <!--/.Card-->
  </div>
  
  <div class="col-md-4">
      <!--Card-->
  <mdb-card cascade="true" narrower="true"  class="mdb-card" >
  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
  <mdb-card-img src="./assets/img/trotti.jpg" class="mdb-card-img"></mdb-card-img>
  <a>
    <div class="mask rgba-white-slight"></div>
  </a>
  </div>
  <!--/Card image-->
  <mdb-card-body cascade="true" class="text-center">
  <!--Text-->
  <mdb-card-text>
    Vous pouvez réserver vos trottinettes sur notre plateforme de réservation. Vous serez ainsi sûrs d’avoir vos trottinettes électriques chargées au jour et à l’heure voulus !
  </mdb-card-text>
  
  <a mdbBtn color="unique" class="waves-light " mdbWavesEffect  href="https://rentngo.fr/" class="stretched-link" target="_blank">LET'S GO !</a>
  
  </mdb-card-body>
  <!--/.Card content-->
  
  </mdb-card>
  <!--/.Card-->
  </div>
      