<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Recherche station</h3>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="stationDetails.name" class="form-control" placeholder="Name">
      </div>
  
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="AppelStation()">Afficher Station</button>
      </div>
  
  
    </div>
  </div>
  
  
  
  <div *ngIf="station" class="stations">
      <h2>Station {{station.records[0].fields.stop_name | uppercase}} details</h2>
      <div><span>Adresse: </span>{{station.records[0].fields.stop_desc}}</div>
      <div><span>Coordinates: </span>{{station.records[0].fields.stop_coordinates}}</div>
      <div><span>Id: </span>{{station.records[0].fields.stop_id}}</div>
      
    </div>
  